.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.bowlDiv{
    background-image: url('../../assets/pic_two.jpg');
    background-size:100%;
  background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 68vh;
    width: 100%;

}


.firstDiv {
  color: white;
  padding: 2rem;
  text-align: left;
}

.firstDiv h5 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.firstDiv h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 1rem 0;
}

.firstDiv p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.signBtn,
.learnBtn {
  background-color: orangered;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5rem;
  font-weight: bold;
}

.secDiv{
    color: white;
    
}
